cmake-build-debug/
.idea/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile
openglgame.cbp
cglm.cbp
openglgame
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
libcglm.a
libglad.a